.slider-container{
    width: 15rem;
}

.slider{
    width: 100%;
    cursor: pointer;
}

.slider-icon i{
    font-size: var(--default-font-size);
}

.slider-disabled {
    opacity: var(--scale-xxs);
}