/* CSS for Button component */

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--scale-xxs);
    padding: 5px 8px;
    font-size: var(--default-font-size);
    cursor: pointer;
}
/*Solid Buttons*/
.btn-primary{
    color: var(--off-white);
    background-color: var(--primary-color);
   
}
.btn-secondary{
    color: var(--off-white);
    background-color: var(--secondary-color);
}
.btn-success{
    color: var(--off-white);
    background-color: var(--success-color); 
}
.btn-danger{
    color: var(--off-white);
    background-color: var(--danger-color);
}
.btn-warning{
    color: var(--off-white);
    background-color: var(--warning-color); 
}

/*Button hover*/
.btn-primary:hover{
    background-color: var(--dark-primary-color);
}
.btn-secondary:hover{
    background-color: var(--dark-secondary-color);
}

.btn-success:hover {
    background-color: var(--dark-success-color);
  }
  
  .btn-danger:hover {
    background-color: var(--dark-danger-color);
  }
  
  .btn-warning:hover {
    background-color: var(--dark-warning-color);
  }

  /*Outlined buttons*/
  .btn-outline-primary{
      color: var(--primary-color);
      background-color: transparent;
      border: 1.5px solid;
  }
  .btn-outline-secondary{
    color: var(--secondary-color);
    background-color: transparent;
    border: 1.5px solid;
}
.btn-outline-success{
    color: var(--success-color);
    background-color: transparent;
    border: 1.5px solid;
}
.btn-outline-danger{
    color: var(--danger-color);
    background-color: transparent;
    border: 1.5px solid;
}
.btn-outline-warning{
    color: var(--warning-color);
    background-color: transparent;
    border: 1.5px solid;
}

/*Button outline hover*/
.btn-outline-primary:hover{
    background-color: var(--primary-color);
    color: var(--off-white);
    border: 1.5px solid;
}
.btn-outline-secondary:hover{
  background-color:  var(--secondary-color);
  color: var(--off-white);
  border: 1.5px solid;
}
.btn-outline-success:hover{
  background-color:var(--success-color); 
  color: var(--off-white);
  border: 1.5px solid;
}
.btn-outline-danger:hover{
  background-color: var(--danger-color);
  color: var(--off-white);
  border: 1.5px solid;
}
.btn-outline-warning:hover{
  background-color: var(--warning-color);
  color: var(--off-white);
  border: 1.5px solid;
}

/*Different sized buttons*/
.btn-large{
    padding: var(--scale-md);
    font-size: var(--scale-lg);
}
.btn-small{
    font-size: var(--scale-sm);
}

/* Disabled buttons */
.btn-disabled{
    pointer-events: none;
    opacity: 0.7;
    color: var(--off-white);
}
/* link button */
.btn-link{
    text-decoration: none;
    display: inline-block;
}

/* Icon buttons */
.btn-icon:hover{
    color: var(--dark-secondary-color)
}
/* Floating ation button */
.btn-floating-action{
    font-size: var(--scale-xl);
    background-color:var(--primary-color);
    color: var(--off-white);
    width: 3rem;
    height: 3rem; 
    border-radius: 50%;
    z-index: var(--z-index-xxl);
    position: fixed;
    bottom: var(--scale-sm);
    right: var(--scale-sm);
}
.btn-floating-action:hover{
    background-color: var(--dark-primary-color) ;
}
/* position changed for documentation website */
#position-static{
    position: static;
}

