
.btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.6rem;
    cursor: pointer;
}
/*Solid Buttons*/
.btn-primary{
    color: white;
    background-color: var(--primary-color);
   
}
.btn-secondary{
    color: white;
    background-color: var(--secondary-color);
}
.btn-success{
    color: white;
    background-color: var(--success-color); 
}
.btn-danger{
    color: white;
    background-color: var(--danger-color);
}
.btn-warning{
    color: white;
    background-color: var(--warning-color); 
}

/*Button hover*/
.btn-primary:hover{
    background-color: var(--dark-primary-color);
}
.btn-secondary:hover{
    background-color: var(--dark-secondary-color);
}

.btn-success:hover {
    background-color: var(--dark-success-color);
  }
  
  .btn-danger:hover {
    background-color: var(--dark-danger-color);
  }
  
  .btn-warning:hover {
    background-color: var(--dark-warning-color);
  }

  /*Outlined buttons*/
  .btn-outline-primary{
      color: var(--primary-color);
      background-color: transparent;
      border: 1.5px solid;
  }
  .btn-outline-secondary{
    color: var(--secondary-color);
    background-color: transparent;
    border: 1.5px solid;
}
.btn-outline-success{
    color: var(--success-color);
    background-color: transparent;
    border: 1.5px solid;
}
.btn-outline-danger{
    color: var(--danger-color);
    background-color: transparent;
    border: 1.5px solid;
}
.btn-outline-warning{
    color: var(--warning-color);
    background-color: transparent;
    border: 1.5px solid;
}

/*Button outline hover*/
.btn-outline-primary:hover{
    background-color: var(--primary-color);
    color: white;
    border: 1.5px solid;
}
.btn-outline-secondary:hover{
  background-color:  var(--secondary-color);
  color: white;
  border: 1.5px solid;
}
.btn-outline-success:hover{
  background-color:var(--success-color); 
  color: white;
  border: 1.5px solid;
}
.btn-outline-danger:hover{
  background-color: var(--danger-color);
  color: white;
  border: 1.5px solid;
}
.btn-outline-warning:hover{
  background-color: var(--warning-color);
  color: white;
  border: 1.5px solid;
}

/*Different sized buttons*/
.btn-large{
    padding: 1rem 2rem;
    font-size: 2.2rem;

}
.btn-small{
    font-size: 1rem;
    padding: 5px;
}

/* Disabled buttons */
.btn-disabled{
    pointer-events: none;
    opacity: 0.7;
    color: white;
}
/* link button */
.btn-link{
    text-decoration: none;
    display: inline-block;
}

/* Icon buttons */
.btn-icon:hover{
    color: var(--dark-secondary-color)
}
/* Floating ation button */
.btn-floating-action{
    font-size: 2rem;
    background-color:var(--primary-color);
    color: white;
    width: 3rem;
    height: 3rem; 
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.btn-floating-action:hover{
    background-color: var(--dark-primary-color) ;
}
/* position changed for documentation website */
#position-static{
    position: static;
}

