.hero{
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
    top: 4.8rem;
    position: relative;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
}
.btn-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

.installation{
    padding: 5rem ;
}
.footer{ 
    background: white;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 700;
}

@media only screen and (max-width: 680px) {
    .open-slide{
        display: block;
    }
    .sidebar{
      display: none;

    }
    /* .sidebar-list{
        width: 0;
        display: none;
    } */
 
    .page-wrapper{
        margin-left: 0;
        left: 0;

    }
    .nav-items{
        margin-left: 0.5rem;
    }
    .nav-items li:nth-child(1){
        display: none;
    }
    .nav-items li:nth-child(2){
        margin-right: 1rem;
    }
    .nav-social-media{
        display: none;
    }
    .header-title{
        font-size: 1rem;
    }
    .hero{
        grid-template-columns: 1fr;
    }

}

@media only screen and (max-width: 420px) {
    .header-title{
        margin-left: 0;
    }

}
