.hero{
    display: grid;
    grid-gap: var(--scale-xxxl);
    grid-template-columns: repeat(2, 1fr);
    padding: var(--scale-xxxl);
    top: var(--scale-xxxl);
    position: relative;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--scale-sm);
    align-items: flex-start;
}
.btn-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: var(--scale-lg);
}

.installation{
    padding: var(--scale-xxxl);
}
.footer{ 
    background: var(--white);
    padding: var(--scale-lg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 800;
}
@media only screen and (max-width: 950px){
    .home-page-container{
        margin: auto;
    }
    .hero{
        grid-template-columns: 1fr;
    }
}


