@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("./Stylesheets/colors.css");
@import url("./Stylesheets/reset.css");
@import url("./Stylesheets/variables.css");
@import url("./Stylesheets/spacing.css");
@import url("./Stylesheets/utility.css");

@import url("./Layout/Header/header.css");
@import url("./Layout/Sidebar/sidebar.css");
@import url("/home.css");
@import url("./Componets/Alert/alert.css");
@import url("./Componets/Avatar/avatar.css");
@import url("./Componets/Badge/badge.css");
@import url("./Componets/Button/button.css");
@import url("./Componets/Card/card.css");
@import url("./Componets/Chips/chips.css");
@import url("./Componets/Drawer/drawer.css");
@import url("./Componets/Image/image.css");
@import url('./Componets/Input/input.css');
@import url("./Componets/List/list.css");
@import url("./Componets/Modal/modal.css");
@import url("./Componets/Navbar/navbar.css");
@import url("./Componets/Rating/rating.css");
@import url("./Componets/Snackbar/snackbar.css");
@import url("./Componets/Typography/typography.css");

:root {
    --z-index-5: 5;
    --z-index-4: 4;
    --z-index-3: 3;
    --z-index-2: 2;
}

body{
    background-color: var(--white);
}


/*Spacing*/

.vertical-gutter-xs{
    margin-bottom: 0.8rem;
}

.vertical-gutter-sm{
    margin-bottom: 1.6rem;
}

.vertical-gutter-md{
    margin-bottom: 2.4rem;
}

.vertical-gutter-lg{
    margin-bottom: 3.2rem;
}

.vertical-gutter-xl{
    margin-bottom: 4.0rem;
}
.vertical-gutter-xxl{
    margin-bottom: 6.4rem;
}
.pl-xxs{
    padding-left: 0.5rem;
}

/* Documentation site utility classes */
.carbon-container{
    width: 100%;
    overflow: hidden;
  }

.page-wrapper{
    position: relative;
    left: 20vw;
    top: 12vh;
    padding:2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:72vw;
}

@media only screen and (max-width: var( --screen-size-sm)) {
    *{
        font-size: 50%;
    }
    .open-slide{
        display: block;
    }
    .sidebar{
      display: none;
    }
    .page-wrapper{
        margin: auto;
        left: 0;
        width: 100%;
    }
    .nav-items{
        margin-left: 0.5rem;
    }
    .nav-items li:nth-child(1){
        display: none;
    }
    .nav-items li:nth-child(2){
        margin-right: 1rem;
    }
    .nav-social-media{
        display: none;
    }
    .header-title{
        font-size: 1rem;
    }
}

