.navbar-container{
    background-color: var(--white);
    max-width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--scale-sm);
    border-bottom: 1px solid var(--light-secondary-color);
    box-shadow: var(--shadow-v3);
}

.search-box{
    height: var(--scale-sm);
    padding: var(--scale-sm);
    gap: var(--scale-sm);
    background: var(--white);
    border: 1px solid var(--light-secondary-color);
}
.search-btn{
    height: var(--scale-sm);
    width: var(--scale-sm);
    border-radius: 50%;
    float: right;
    color: var(--primary-color);
}
.search-btn i{
    font-size: var(--default-font-size);
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--secondary-color);
    font-size: var(--default-font-size);
    line-height: var(--scale-sm);
    font-family: inherit;
}