.card{
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--light-secondary-color);
    border-radius: var(--scale-xxs);
}
.card:hover{
    box-shadow: var(--shadow-spread);
}

.card-vertical{
    max-width: 20rem;
}
.card-info{
    padding: var(--scale-sm);
}
.card-price{
    padding: 0 var(--scale-sm);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--scale-xs);
}

.button-container{
    padding: var(--scale-sm);
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.btn-long{
    width: 100%;
}

.strikethrough{
    text-decoration: line-through;
}
.light{
    opacity: 0.6;
}
.discount{
    color: var(--dark-success-color);
}
.btn-absolute{
    position: absolute;
    top: var(--scale-xxs);
    right: var(--scale-xxs);
    background-color: var(--off-white);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: var(--scale-xs);
}
.btn-absolute i{
    font-size: 1.6rem;
}

#badge-absolute{
    position: absolute;
    top: 5%;
    left: 0%;
}
.close-btn{
    cursor: pointer;
    position: absolute;
    font-size: 2.4rem;
    top: var(--scale-xxs);
    left: var(--scale-xxs);
    background-color: var(--off-white);
    padding: var(--scale-xs);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}

.text-overlay{
    position: absolute;
    bottom: 25%;
    color: var(--white);
    opacity: 0.7;
}
.card-horizontal{
    max-width: 35rem;
    display: flex;
}

.column-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .card-horizontal{
        flex-direction: column;
    }
}