.chips-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    border: 1px solid var(--light-secondary-color);
    padding: 1rem;
    font-size: 1.6rem;
}

.chip{
    display: flex;
    background-color: var(--white);
    height: 2.2rem;
    border-radius: 2.2rem;
    align-items: center;
    justify-content: center;
    border:1px solid var(--light-secondary-color);
    font-weight:500;
    font-size: inherit;
    gap: 0.4rem;
    padding-right: 0.5rem;
}

.chip img{
    height: 2.2rem;
    width: 2.2rem;
}
.chip-content{
    font-size: inherit;
}
.chip-btn-close{
    font-size: inherit;
    cursor: pointer;
}
