.modal-container{
    background-color: var(--white);
    color: var(--secondary-color);
    max-width: 45rem;
    padding: var(--scale-md);
    display: flex;
    flex-direction: column;
    gap: var(--scale-sm);
    position: relative;
    border: 1px solid var(--light-secondary-color);
    box-shadow: var(--shadow);
    z-index: var(--z-index-lg);
}
.modal-footer{
    display: flex;
    gap: var(--scale-md);
    justify-content: flex-end;
}
.close-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--scale-xs);
    cursor: pointer;
    font-size: var(--scale-xl);
}

