
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--scale-sm);
    background-color: var(--white);
    padding: var(--scale-xl);
    border-radius: var(--scale-xs);
    box-shadow: var(--shadow);
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: var(--scale-xxs);
    font-size: var(--default-font-size);
}

input,
textarea{
    padding: var(--scale-xs);
    border-radius: var(--scale-xxs);
    border: 1px solid var(--light-secondary-color);
    width: 100%;
    font-size: var(--default-font-size);
}
label{
    font-size: var(--default-font-size);
}

input:focus,
textarea:focus {
	border-color: var(--secondary-color);
}

input[type='email']:valid {
	background-color: var(--light-success-color);
	color: var(--dark-success-color);
}

.input-error{
    color: var(--danger-color);
}

.input-error input{
    border-color: var(--danger-color);
}

.input-success{
    color: var(--success-color);
}
.input-success input{
    border-color: var(--success-color);
}
.validity-msg{
    font-size: var(--scale-sm);
}

input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
	height: var(--scale-sm);
	width: var(--scale-sm);
}
.input-checkbox{
    display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--scale-xs);
}
/* log in form */
.form-title{
    align-self: center;
}
.forget-password{
  gap: var(--scale-sm);
  align-items: center;
}
