/* Alert component CSS */
.alert{
    display: flex;
    gap: var(--scale-sm);
    align-items: center;
    max-width: 100%;
    padding: var(--scale-xs) var(--scale-sm);
    font-size: var(--default-font-size);
    line-height: 2.4rem;
}
.alert span{
    font-size: inherit;
}
.alert-success{
    color: var(--dark-success-color);
    background-color: var(--light-success-color);
    border-left: 5px solid var(--dark-success-color);
    
}
.alert-warning{
    color: var(--dark-warning-color) ;
    background-color: var(--light-warning-color);
    border-left: 5px solid var(--dark-warning-color);
}
.alert-danger{
    color: var(--dark-danger-color);
    background-color: var(--light-danger-color);
    border-left: 5px solid var(--dark-danger-color);
}
.alert-information{
    color: var(--dark-primary-color);
    background-color: var(--light-primary-color);
    border-left: 5px solid var(--dark-primary-color);
}

