
.list-group{
    width: 40rem;
    background-color: var(--white);
    color: var(--secondary-color);
}
.list-item{
    font-size: var(--default-font-size);
    border: 1px solid var(--light-secondary-color);
    padding: var(--scale-md);
    display: flex;
    align-items: center;
}
.list-item:hover{
    background-color: var(--light-primary-color);
}
.list-item span{
    font-size: var(--default-font-size);
    margin-left: var(--scale-md);
}

@media only screen and (max-width: 680px) {
    .list-group{
        width: 100%;
    }
}