
.drawer-container{
    position: relative;
    height: 25rem;
}
.drawer-header{
    height: scale(--scale-xl);
    background-color: var(--primary-color);
    padding: var(--scale-md);
    display: flex;
    align-items: center;
}
.open-drawer i{
    color: var(--secondary-color);
    font-size: var(--scale-md);
}
.drawer-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: var(--z-index-xl);
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: var(--secondary-color);
    overflow: hidden;
    padding-top: var(--scale-xxxl);
    transition: 0.5s;
}
.drawer-menu a{
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: var(--off-white);
    transition: 0.3s;
}
.drawer-menu a:hover{
    color: var(--white);
    font-weight: bold;
}
.drawer-menu .drawer-close-btn{
    position: absolute;
    top:0;
    right: 2.2rem;
    font-size: 3.6rem;
    margin-left: var(--scale-xxl);
}
.drawer-item{
    margin-bottom: var(--scale-md);
    letter-spacing: 0.4px;
    padding: var(--scale-xs);
    cursor: pointer;
}

.drawer-item span{
    font-size: 1.6rem;
    margin-left: var(--scale-lg);

}
.drawer-item i{
    font-size: var(--default-font-size);
} 

/* for documentation site */
.drawer-container .position-absolute{
    position: absolute;
}
