/* CSS for Badge coomponent */
.badge{
    padding: var(--scale-xs);
    color: var(--off-white);
    font-size: var(--scale-sm);
    max-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.pill-badge{
   border-radius:0.65rem ;
}

.icon-badge-wrapper,
.avatar-badge-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.icon-badge-wrapper span i{
    font-size: var(--scale-lg);
}

.icon-badge,
.avatar-badge{
    position: absolute;
    min-width: var(--scale-sm);
    min-height: var(--scale-sm);
    border-radius: 50%;
    bottom: 70%;
    left: 70%;
    color:var(--off-white);
    padding: var(--scale-xxs);
    font-size: var(--scale-sm);
}

