/* CSS for Badge coomponent */
.badge{
    padding: 0.5rem;
    color: var(--off-white);
    font-size: 1.2rem;
    max-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.pill-badge{
   border-radius:0.65rem ;
}

.icon-badge-wrapper,
.avatar-badge-wrapper{
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.icon-badge-wrapper span i{
    font-size: 2rem;
}

.icon-badge,
.avatar-badge{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    bottom: 70%;
    left: 70%;
    color:var(--off-white);
    padding: 0.3rem;
    font-size: 0.8rem;
}

