<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navigation.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/52c15eb80a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-container">
        <a href="#" class="nav-a header-title"><h2>Matrix <span>UI</span></h2></a>
       
        <ul class="nav-ul nav-items">
            <li class="nav-item ">
                <a class="nav-a active" href="#">Home</a> </li>
            <li class="nav-item">
                <a class="nav-a" href="#">Documentation</a></li>

        </ul>
        <ul class="nav-ul nav-social-media">
            <li class="nav-item">
                <a class="nav-a" href="#"><i class="fab fa-twitter"></i></a> </li>
            <li class="nav-item">
                <a class="nav-a" href="#"><i class="fab fa-github"></i></a></li>
            <li class="nav-item">
                <a class="nav-a" href="#"><i class="fab fa-instagram"></i></a></li>
        </ul> 
    </header>
</body>
</html>