<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="./sidebar.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="flex-center">
        <ul class = "sidebar-list">
            <a href = "" class = "sidebar-item sidebar-active">Avatar</a>
            <a href = "" class = "sidebar-item">Alert</a>
            <a href = "" class = "sidebar-item">Badges</a>
            <a href = "" class = "sidebar-item">Buttons</a>
            <a href = "" class = "sidebar-item">Cards</a>
            <a href = "" class = "sidebar-item">Responsive Images</a>
            <a href = "" class = "sidebar-item">Forms</a>
            <a href = "" class = "sidebar-item">Modal</a>
            <a href = "" class = "sidebar-item">Navbar</a>
            <a href = "" class = "sidebar-item">List</a>
            <a href = "" class = "sidebar-item">Responsive Grid</a>
            <a href = "" class = "sidebar-item">Typography</a>
        </ul>
    </div>
</body>
</html>