/* Drawer or slide-menu for small screens */
.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: var(--z-index-5);
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    padding-top: 6rem;
    transition: 0.5s;
}
.side-menu a{
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    font-size: 1.6rem;
    color:var(--secondary-color);
    display: block;
    transition: 0.3s;
    color: #ccc;
    display: block;
    transition: 0.3s;
}
.side-menu a:hover{
    color: white;
}
.side-menu .sidemenu-close-btn{
    position: absolute;
    top:0;
    right: 2.2rem;
    font-size: 3.6rem;
    margin-left: 5rem;
}

/* static-sidebar for large screens */
.sidebar{
    position: fixed;
    left: 0;
    min-height: 88vh;
    top:12vh;
    width: 20vw;
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 88vh;
    /* width: 20vw; */
    border-right: 1px solid var(--light-secondary-color);
    text-align: center;
    background: white;
}
.sidebar-item{
    font-size: 1.6rem;
    font-weight:500;
    color: var(--secondary-color);
    padding: 0.5rem;
    display: inline;
}
.sidebar-item:hover{
    background: var(--light-primary-color);
}
.sidebar-active{
    color: var(--primary-color);
    font-weight: 800;
    background: var(--light-primary-color);
}