/* Drawer or slide-menu for small screens */
.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: var(--z-index-xxl);
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 8rem;
    transition: 0.5s;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu a{
    padding: 0.7rem;
    padding-left: 3rem;
    text-decoration: none;
    font-size: var(--default-font-size);
    display: block;
    transition: var(--scale-xxs)s;
    color: var(--off-white);
    letter-spacing: 1px;
}
.side-menu a:hover{
    color: var(--white);
    font-weight: bold;
}

.side-menu-active {
    font-weight: bold;
}

.side-menu .sidemenu-close-btn{
    position: absolute;
    top:0;
    right: 2.2rem;
    font-size: 3.6rem;
    margin-left: 5rem;
}

/* static-sidebar for large screens */
.sidebar{
    position: fixed;
    left: 0;
    top:12vh;
    width: 20vw;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 88vh;
    border-right: 1px solid var(--light-secondary-color);
    text-align: center;
    /* background: var(--white); */
}

.sidebar-item{
    font-size: var(--default-font-size);
    font-weight:500;
    color: var(--secondary-color);
    padding: var(--scale-xs);
}

.sidebar-item:hover{
    background: var(--light-primary-color);
}

.sidebar-active{
    color: var(--primary-color);
    font-weight: 800;
    background: var(--light-primary-color);
}