.rating-container{
    background-color: var(--white);
    padding: 1.6rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checked{
    color: var(--warning-color);
}
.rating-lg span{
    font-size: var(--scale-lg);
}


.rating-md span{
    font-size: var(--default-font-size);
}

.rating-sm span{
    font-size: var(--scale-sm);
}